body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    margin-top: 0;
}

header {
    background-image: url(../imagenes/fondo_encabezado.png);
    width: 100%;
    margin-bottom: 0;
    
}
.cabecera{
    position: right;
    display: grid;
	grid-template-columns: 30px 30px;
}

header section:nth-child(2){
    grid-column: 1;
}
header section:nth-child(3){
    grid-column: 2;
}

header img {
    display: block;
    margin: auto;
}

.idioma {
    width: 30px;
    list-style-type: none;
    background-color: olive;
    display: inline-block;
}

.menu {
    background-color: olive;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr 3fr;
    grid-template-rows: 1fr;
    padding: 3px

}

.menu a:nth-child(1){
    width: 150px;
    grid-column: 2;
    grid-row: 1;
    margin: 2px;
}
.menu a:nth-child(2){
     width: 200px;
    grid-column: 3;
    grid-row: 1;
      margin: 2px;
}
.menu a:nth-child(3){
     width: 150px;
    grid-column: 4;
    grid-row: 1;
       margin: 2px;
}
.menu a:nth-child(4){
     width: 150px;
    grid-column: 6;
    grid-row: 1;
}
.menu a:hover {
    background-color: #c7c700;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.

main {
	padding-left: 300px;
}

imagen-cuadro {
	display: grid;
	grid-template-columns: repeat(12, 8.3%);
	grid-template-rows: repeat(4, 20%);
	margin-bottom: 0;
}

.imagen {
	width=1000px;
	height=416px;
	border-bottom-style: solid blue;
	grid-column: 1/12;
	grid-row: 1/5;
	margin-bottom: 0;
}

.Cuadro {
	width: 462px;
	height: 95px;
	background-color: rgb(246, 247, 213, 0.65);
	color: #35360b;
	font-size: 18px;
	text-align: center;
	grid-column: 6/9;
	grid-row: 2;
}

.Barra_inferior ul {

	height: 25px;
	background-color: #9EA123;
	margin-top: 0;

}

.Barra_inferior ul li {
	font-size: 18px;
	color: #E4E682;
	margin-left: 20px;
	border border-style: solid;
	display: inline-block;
	list-style-type: none;
}

.Barra_inferior ul li:hover {
	color: #35360B;
}

.Bienvenida {
	font-size: 21px;
	color: #35360B;
	margin-left: 21px;
	padding: 30px;
}



footer {
	background-color: #9EA123;
	font-size: 12px;
	color: black;
}

.footer {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 10% 30% 30% 30%;
}

.footer1 {
	grid-column: 1;
	grid-row: 1;
	background-color: darkolivegreen;
	width: :100%;
}
.footer2 {
	grid-column: 1;
	grid-row: 2;
	background: red;

}
.footer3 {
	grid-column: 1;
	grid-row: 3;
	background: green;
}
.footer4 {
	grid-column: 1;
	grid-row: 4;
	background: orange
}
.footerdireccion {
	grid-column: 3;
	grid-row: 2;
	background: blue;
}
poner tabla con la primera fila para la franja verde oscura, el resto a dstribuir
footer img {
	display: block;
	margin: auto;
}

.logo_pie {
	position: relative;
}
footer a {
	text-decoration: none;
	color: black;
}
